#navigation {
    float: left;
    margin-right: 1%;
    width: 19%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,212,255,0.6) 0%, rgba(9,9,121,0.6) 35%, rgba(2,0,36,0.8) 100%);
}

#content {
    float: right;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
}

#navigation nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#navigation nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 3px;
    margin-left: 15px;
}

#navigation nav ul li a:hover {
    background-color: white;
    font-weight: bold;
    color: black;
    border-radius: 3px;
}
