body {
    font-family: 'Arial', sans-serif;
}

p {
    background-color: lightgray;
    padding: 5px;
    border-radius: 6px;
}


/*Navigation*/

#navigation {
    width: 99%;
    height: 3%;
    background: orange;
    color: white;
    padding: 25px 0;
    text-align: center;
    position: fixed;
    z-index: 1000;
}

ul + li {
    text-align: left;
    font-size: large;
}

#navigation nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    flex-direction: column;
}

#navigation ul li {
    display: inline;
    margin: 20px;
}

#navigation nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 1px;
    margin-left: 15px;
}

#navigation nav ul li a:hover {
    color: red;
}


/*content home*/

.home img{
    width: 100.1%;
    height: 100%;
    display: block;
    opacity: 1;
}

.image-container {
    position: relative;
}

.image-text {
    position: fixed;
    top: 39%;
    left: 26%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 33px;
    font-weight: bold;
}

.image-text2 {
    position: fixed;
    top: 48%;
    left: 19%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 14px;
}

.autor {
    position: fixed;
    top: 55%;
    left: 7%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 10px;
}


/*Allgemeine Information html*/

.bodyallgInfo {
    background: whitesmoke;
    opacity: 1;
}

#allgemein {
    padding: 40px;
}

.allgbild {
    padding: 5px;
    width: 40%;
    height: 60%;
    margin-left: 135px;
}

.allgbild2 {
    padding: 5px;
    width: 34%;
}

.allgbild3 {
    padding: 5px;
    margin-left: 135px;
    width: 40%;
    height: 60%;
}

.allgbild4 {
    padding: 5px;
    width: 32%;
}

#allgemein .buttonH4 {
    position: absolute;
}

#buttonAllg nav a{
    float: right;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    color: orangered;
    padding-top: 20px;
}


/*Geschichte html*/

.bodyGeschichte {
    background: whitesmoke;
    opacity: 1;
}

#geschichte {
    padding: 40px;
    text-align: left;
}

#geschichte .gsch {
    width: 25%;
    height: 25%;
    margin-left: 80px;
}

#geschichte h2 {
    position: absolute;
}

#button3 nav a{
    float: right;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    color: orangered;
    padding-top: 25px;
}

table, th, td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin-left: 360px;
}

th, td {
    padding-right: 40px;
    padding-left: 40px;
}


/*Regeln und Ausrüstung html*/

.bodyRegeln {
    background: whitesmoke;
    opacity: 1;
}

#regeln {
    padding: 40px;
    text-align: left;
}

#regeln img {
    padding: 20px;
    width: 20%;
}

#regeln h2 {
    position: absolute;
}

#regeln ul {
    background-color: lightgray;
    padding: 5px;
    list-style-position: inside;
    border-radius: 8px;
    border: 3px solid orange;
}

#button nav a{
    float: right;
    text-decoration: none;
    padding-top: 20px;
    font-weight: bold;
    font-size: x-large;
    color: orangered;
}

#doppelSpiel {
    padding-left: 20px;
}

#doppelSpiel h4 {
    padding-left: 20px;
}

#doppelSpiel span{
    float: right;
    background-color: lightgray;
    padding: 5px;
    border-radius: 6px;
    width: 990px;
    margin: 18px;
}

#doppelSpiel img {
    padding: 20px;
    width: 20%;
}

#doppelSpiel p {
    background-color: lightgray;
    padding: 5px;
    border-radius: 6px;
    margin: 20px;
}

#ausruestung {
    padding: 40px;
    text-align: left;
}

#ausruestung img {
    width: 15%;
}

#ausruestung h2 {
    position: absolute;
}

#button2 nav a{
    float: right;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    color: orangered;
    padding-top: 25px;
}


/*Grand Slam Turniere*/

.bodyTurniere {
    background: whitesmoke;
    opacity: 1;
}

#turniere {
    padding: 40px;
    text-align: left;
}

#turniere p {
    float: right;
    width: 900px;
    padding: 5px;
    margin: 5px;
}

/* Container needed to position the overlay.*/
.container {
    position: relative;
    width: 50%;
    max-width: 300px;
}

/* Make the image to responsive */
.image {
    display: block;
    width: 115%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}


/* Container2 needed to position the overlay. */
.container2 {
    position: relative;
    width: 50%;
    max-width: 300px;
}

/* Make the image to responsive */
.image2 {
    display: block;
    width: 115%;
    height: auto;
}

.overlay2 {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.container2:hover .overlay2 {
    opacity: 1;
}


/* Container3 needed to position the overlay.*/
.container3 {
    position: relative;
    width: 50%;
    max-width: 300px;
}

/* Make the image to responsive */
.image3 {
    display: block;
    width: 115%;
    height: auto;
}

.overlay3 {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.container3:hover .overlay3 {
    opacity: 1;
}


/* Container4 needed to position the overlay. */
.container4 {
    position: relative;
    width: 50%;
    max-width: 300px;
}

/* Make the image to responsive */
.image4 {
    display: block;
    width: 115%;
    height: auto;
}

.overlay4 {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.container4:hover .overlay4 {
    opacity: 1;
}
